<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138270145629-6fmkl6me04nm1dspr8o5ghb23svo73ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138270145629-6fmkl6me04nm1dspr8o5ghb23svo73ad</string>
	<key>API_KEY</key>
	<string>AIzaSyAVoTbU-R97BxI4BXxQrQbjZokXOYyx8iE</string>
	<key>GCM_SENDER_ID</key>
	<string>138270145629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentsphere.studentsphere</string>
	<key>PROJECT_ID</key>
	<string>studentsphere-1fb98</string>
	<key>STORAGE_BUCKET</key>
	<string>studentsphere-1fb98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138270145629:ios:5f70c02c3558b54bd8a1b4</string>
</dict>
</plist>